:root {
    --navy-dark: #020617;
    --slate-800: #1e293b;
    --emerald-500: #10b981;
    --silver: #cbd5e1;
}

body {
    background-color: var(--navy-dark);
    color: var(--silver);
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, .card-title {
    font-family: 'Lora', serif;
}

.gradient-text {
    background: linear-gradient(90deg, #f8fafc, #10b981);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Scrollbar minimalista */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #10b981;
}
